get_paths <- function() {
  base_path <- normalizePath(file.path(dirname(sys.frame(1)$ofile), ".."))
  list(
    base = base_path,
    raw = file.path(base_path, "data", "raw"),
    interim = file.path(base_path, "data", "interim"),
    processed = file.path(base_path, "data", "processed"),
    figures = file.path(base_path, "results", "figures")
  )
}
